.weather-forcast:before {
  content: "";
  position: fixed;
  top: 10;
  left: 1;
  height: 100%;
  width: 100%;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 19%,
    #2b86c5 31%,
    #010714 60%,
    #310707 80%,
    #1f0606 100%
  );
  background-position: center;
  background-size: cover;
}

.weather-app {
  height: 100%;
  margin: 0 auto;
  position: relative;
}
